---
// You can add any data or logic specific to the footer here
const currentYear = new Date().getFullYear();
const socialLinks = [
  { name: "Twitter", href: "https://twitter.com/yourtwitter" },
  { name: "GitHub", href: "https://github.com/yourgithub" },
  // Add more social links as needed
];
---

<footer>
  <ul>
    {socialLinks.map(link => (
      <li><a href={link.href}>{link.name}</a></li>
    ))}
  </ul>
  <p>&copy; {currentYear} Your Company Name. All rights reserved.</p>
</footer>
