---
const siteTitle = "Your Site Title";
const siteLogo = "/path/to/logo.png";

function handleSearch(event) {
  const searchTerm = event.target.value.toLowerCase();
  const filteredPosts = posts.filter(post =>
    post.title.toLowerCase().includes(searchTerm) ||
    post.description.toLowerCase().includes(searchTerm)
    // Add more fields as needed for search (e.g., tags)
  );
  
  currentPage = 1; // Reset to first page when searching
  currentPosts = filteredPosts; 
}


---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
          
</head>
<body class="home-template is-head-middle-logo">
<div class="allinone2">
        <header id="gh-head" class="gh-head gh-outer">
            <div class="gh-head-inner gh-inner">
                <nav class="gh-head-menu">
                    <a class="purple-flame-button" href="#">Home</a>
                    <a class="mystic-button" href="#">GitLab</a>
                    <a class="spellbook-button" href="#">Contact</a>
                </nav>
                <div class="gh-head-actions">
                    <button class="toggle-form" id="submit-button">Message</button>
                    <button class="gh-head-btn gh-primary-btn yellow-fire-flame-button" id="toggle-susbutton">Subscribe</button>
                </div>
            </div>

            </div>
        </header>
    </header>

    <!-- Subscribe form -->
    <form id="my-susform" style="color:white; margin-top: 20px; display: none;">
        <p><strong>Welcome! We're glad you're interested in subscribing to our updates.</strong> Please fill out the form below, making sure to complete the required fields marked with a <span style="color: red;">**</span>.</p>
        <div style="display: flex;">
            <div style="flex: 4;">
                <label for="name">Full Name:<span style="color: red;"> ** </span></label>
                <input type="text" id="name" name="name" required style="height: 40px;">
            </div>
            <div style="flex: 1; margin-left: 10px;">
                <label for="dob">Date of Birth:</label>
                <input name="dob" id="dob" type="date" style="height: 40px;">
            </div>
        </div>
        <label for="email">Email:<span style="color: red;"> ** </span></label>
        <input type="email" id="email" name="email" required>
        <label for="phone">Phone:</label>
        <div id="phone-container">
            <select id="country-code" name="country-code"></select>
            <input type="text" id="phonecode" name="phonecode" value="+">
            <input type="tel" id="phonenumber" name="phonenumber">
        </div>
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
        <input type="checkbox" style="width: 20px; height: 20px; vertical-align: middle;" id="terms" name="terms" required>
        <label for="terms" style="font-size: 19px; display: inline-block; margin: 15px 15px; vertical-align: middle;">I agree to the <a href="http://localhost:2368/terms.html" target="_blank">terms and conditions</a></label>
        <br>
        <button type="submit">Submit</button>
    </form>

    <!-- Message form -->
    <form id="my-form" style="color:white; margin-top: 20px; display: none;">
        <label>Text: Name and your message</label>
        <input type="text" name="text" placeholder="Name and your message">
        <label>File: The server will not receive more than 49mb.</label>
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form>
    <!-- Left right pc area -->
    <div class="tb">
        <div class="none">
            <main class="site-main gh-inner">
                <section class="tag-list">
                    <h3>Popular Categories</h3>
                    </div>
                    <div class="tag-list tag-list-wrapper">
                        <ul>
                            <li><a href="tag/news/index.html" class="tag">News</a></li>
                            <li><a href="tag/linux/index.html" class="tag">linux</a></li>
                            <li><a href="tag/russia/index.html" class="tag">russia</a></li>
                            <li><a href="tag/tech/index.html" class="tag">tech</a></li>
                            <li><a href="tag/web/index.html" class="tag">web</a></li>
                        </ul>
                        <div class="smile"></div>
                    </div>
                    <div class="navbar tag-list ">
                        <div class="search-container">
                        <input type="text" placeholder="Search posts..." onInput={handleSearch} />
                    </div>
                </section>
            </main>
        </div>
        <div class="left-content">
            <button class="green-fire-flame-button">this section is under maintain</button>
        </div>
        <div class="right-content">
            <button class="blue-fire-flame-button">this section is under maintain</button>
        </div>
    </div>
</div>

<script>
    // JavaScript logic for toggling forms and handling form submissions
    document.addEventListener("DOMContentLoaded", function() {
        const susform = document.querySelector('#my-susform');
        const sustoggleFormButton = document.querySelector('#toggle-susbutton');
        const sussubmitButton = document.querySelector('#my-susform button[type="submit"]');
        let susisSubmitting = false;

        sustoggleFormButton.addEventListener('click', () => {
            susform.style.display = susform.style.display === 'none' || susform.style.display === '' ? 'block' : 'none';
        });

        susform.addEventListener('submit', async (e) => {
            e.preventDefault();

            if (susisSubmitting) {
                return;
            }
            susform.style.display = 'none'; // Hide form on submit
            susisSubmitting = true;
            sussubmitButton.disabled = true;

            const susformData = new FormData(susform);

            try {
                const susresponse = await fetch('https://easy-opposite-flute.glitch.me/', {
                    method: 'POST',
                    body: susformData
                });
                const susdata = await susresponse.text();
                console.log(susdata);

                if (susresponse.ok) {
                    window.alert('Form submitted successfully! We will be in touch with you soon.');
                } else {
                    throw new Error('Failed to submit form');
                }
            } catch (error) {
                window.alert('An error occurred while submitting the form. Please try again later.');
            } finally {
                susisSubmitting = false;
                sussubmitButton.disabled = false;
            }
        });

        const form = document.querySelector('#my-form');
        const toggleFormButton = document.querySelector('#submit-button');
        let isSubmitting = false;

        toggleFormButton.addEventListener('click', () => {
            form.style.display = form.style.display === 'none' || form.style.display === '' ? 'block' : 'none';
        });

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            if (isSubmitting) {
                return;
            }
            form.style.display = 'none'; // Hide form on submit
            isSubmitting = true;
            toggleFormButton.disabled = true;

            const formData = new FormData(form);

            try {
                const response = await fetch('https://easy-opposite-flute.glitch.me/', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.text();
                console.log(data);

                if (response.ok) {
                    window.alert('Form submitted successfully!');
                } else {
                    throw new Error('Failed to submit form');
                }
            } catch (error) {
                window.alert('An error occurred while submitting the form. Please try again later.');
            } finally {
                isSubmitting = false;
                toggleFormButton.disabled = false;
            }
        });
    });

    // Cookie notice logic
    function cookieNotice() {
        const x = document.getElementById("cookie-notice");
        x.style.display = "none";
        if (localStorage.getItem("cookieSeen") !== "shown") {
            x.style.display = "block";
            localStorage.setItem("cookieSeen", "shown");
        }
    }

    cookieNotice(); // Execute cookie notice function

    // Populate country codes and update phone code on selection
    const countryCodeElement = document.getElementById('country-code');
    const phoneCodeElement = document.getElementById('phonecode');
    const countryCodes = [
        { code: '93', name: 'Afghanistan' },
        { code: '355', name: 'Albania' },
        { code: '213', name: 'Algeria' }
        // Add more countries as needed
    ];

    countryCodes.forEach(country => {
        const option = document.createElement('option');
        option.value = country.code;
        option.text = `+${country.code} - ${country.name}`;
        countryCodeElement.add(option);
    });

    countryCodeElement.addEventListener('change', event => {
        const countryCode = event.target.value;
        phoneCodeElement.value = `+${countryCode}`;
    });
</script>

<div id="cookie-notice" style="display:none; position:fixed; bottom:0; left:0; width:100%; background-color:#f0f0f0; text-align:center; z-index:9999;">
    <p style="display:inline-block; margin: 2px; padding: 5px 10px; line-height: 1.2;">This website uses cookies to ensure you get the best experience on our website. <a href="index.html#">Learn more</a></p>
    <button style="display:inline-block; margin: 2px;" onclick="document.getElementById('cookie-notice').style.display='none'">Got it!</button>
</div>

</body>
</html> rewrite the code . make it more professional 
<style>
  /* Header styles */
  header {
    background-color: #333; /* Header background color */
    color: #fff; /* Text color */
    padding: 10px 0; /* Vertical padding */
  }

  .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px; /* Limiting max width of the header */
    margin: 0 auto; /* Centering the header */
    padding: 0 20px; /* Horizontal padding */
  }

  .logo img {
    height: 40px; /* Adjust logo height as needed */
    vertical-align: middle;
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-links li {
    margin-right: 20px; /* Spacing between navigation links */
  }

  .nav-links li a {
    color: #fff; /* Link color */
    text-decoration: none;
    font-size: 1em; /* Font size */
    transition: color 0.3s ease; /* Smooth color transition */
  }

  .nav-links li a:hover {
    color: #7289da; /* Hover color */
  }

  /* Search input styles */
  .search-container {
    position: relative; /* Position relative for absolute positioning of icon */
    max-width: 400px; /* Adjust maximum width as needed */
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff; /* Background color */
    color: #333; /* Text color */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  input[type="text"]:hover,
  input[type="text"]:focus {
    border-color: #7289da; /* Border color on hover/focus */
    box-shadow: 0 0 5px rgba(114, 137, 218, 0.5); /* Box shadow on hover/focus */
  }

  input[type="text"]::placeholder {
    color: #bbb; /* Placeholder text color */
  }

  /* Optional: Button styles */
  /* button[type="submit"] {
    padding: 10px 15px;
    background-color: #7289da;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #5b6eae;
  } */
</style>

<style>
  /* Your custom CSS styles */
  #my-susform,
  #my-form {
    display: none; /* Initially hide the forms */
    color: white; /* Adjust styles as needed */
    margin-top: 20px;
  }
</style>


<style>
/*yellow green blue Mystic Spellbook  Purple Flame Fire Flame Button */
.fire-flame-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(244, 67, 54, 0.5);
  transition: all 0.3s ease-out;
}

.fire-flame-button:hover {
  background-color: #f57243;
  box-shadow: 0 20px 50px rgba(245, 114, 67, 0.8);
}

.fire-flame-button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #fbc02d, 0 0 10px 10px #f57f17, 0 0 15px 15px #d32f2f;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.fire-flame-button:hover::before {
  width: 200%;
  height: 200%;
  opacity: 1;
  padding: 20px 40px;
}

.purple-flame-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #9c27b0;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(156, 39, 176, 0.5);
  transition: all 0.3s ease-out;
}

.purple-flame-button:hover {
  background-color: #ab47bc;
  box-shadow: 0 20px 50px rgba(171, 71, 188, 0.8);
}

.purple-flame-button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #e1bee7, 0 0 10px 10px #ba68c8, 0 0 15px 15px #7b1fa2;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.purple-flame-button:hover::before {
  width: 200%;
  height: 200%;
  opacity: 1;
  padding: 20px 40px;
}


.spellbook-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #ff5555;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  animation: spellbook-glow 2s ease-in-out alternate infinite;
}

.spellbook-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: #cddc39;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.spellbook-button:hover::before {
  transform: scale(0);
  opacity: 1;
}

.spellbook-button:hover {
  background-color: #cddc39;
  box-shadow: 0px 8px 25px rgba(139, 195, 74, 0.8);
}

.spellbook-button span {
  position: relative;
  z-index: 1;
}

@keyframes spellbook-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 1);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(244, 67, 54, 0.5);
  }
  75% {
    box-shadow: 0 0 0 10x rgba(244, 67, 54, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
  }
}

.spellbook-button::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px #8bc34a, 0 0 30px 20px #4caf50, 0 0 40px 30px #cddc39;
  opacity: 0;
  transition: all 0.5s ease-out;
  animation: spellbook-glow 1s ease-in-out alternate infinite;
}

.mystic-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #bd93f9;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.mystic-button:hover {
  background-color: #7e57c2;
  box-shadow: 0px 8px 25px rgba(189, 147, 249, 0.8);
}

.mystic-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #fff, 0 0 20px 10px #bd93f9, 0 0 40px 20px #bd93f9;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.mystic-button:hover::before {
  width: 200%;
  height: 200%;
  opacity: 1;
}

  .blue-fire-flame-button {
    position: relative;
    margin: 20px;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(33, 150, 243, 0.5);
    transition: all 0.3s ease-out;
  }
  
  .blue-fire-flame-button:hover {
    background-color: #03a9f4;
    box-shadow: 0 20px 50px rgba(0, 188, 212, 0.8);
  }
  
  .blue-fire-flame-button::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #00bcd4, 0 0 10px 10px #03a9f4, 0 0 15px 15px #2196f3;
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  
  .blue-fire-flame-button:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
  }
  .green-fire-flame-button { /* sign in button */
    position: relative;
    display: inline-block;
     margin: 20px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(76, 175, 80, 0.5);
    transition: all 0.3s ease-out;
  }
  
  .green-fire-flame-button:hover {
    background-color: #388E3C;
    box-shadow: 0 20px 50px rgba(56, 142, 60, 0.8);
  }
  
  .green-fire-flame-button::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #4CAF50, 0 0 10px 10px #388E3C, 0 0 15px 15px #4CAF50;
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  
  .green-fire-flame-button:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
  }
  
  
  .yellow-fire-flame-button { /* subscribe button */
    position: relative;
    display: inline-block;
    padding: 13px 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #FFC107;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(255, 193, 7, 0.5);
    transition: all 0.3s ease-out;
  }
  

  .yellow-fire-flame-button::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #FFC107, 0 0 10px 10px #FFA000, 0 0 15px 15px #FFC107;
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  
  .yellow-fire-flame-button:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
  }
</style>

// Navigation Menu Styles
<style>





.nav.gh-head-menu.gh-head-actions {
  background-color: #6c6f93;
}

</style>

// Form Styles
<style>
form {
  display: none;
  background-color: #fff;
  background-color: #6c6f93;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #faf7c7;
}

input[type="text"],
input[type="file"],
button[type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  display: block;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #6c6f93;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #5c5f80;
}

</style>

//Tag List Styles
<style>
.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.tag-list button {
  background-color: #6c6f93;
  border: none;
  color: #faf7c7;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.tag-list button:hover {
  background-color: #5c5f80;
}

</style>

// toggle button
<style>
    button.toggle-form {
      position: relative;
      display: inline-block;
          padding: 15px 30px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      background-color: #8bc34a;
      border: none;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.3s ease-out;
    }
    button.toggle-form:hover{
     background-color: #cddc39;
      box-shadow: 0px 8px 25px rgba(139, 195, 74, 0.8);
    }
    button.toggle-form:hover::before {
      width: 200%;
      height: 200%;
      opacity: 1;
    }
    button.toggle-form span {
      position: relative;
      z-index: 1;
    }
    
    button.toggle-form::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      width: 0;
      height: 0;
      border-radius: 50%;
      box-shadow: 0 0 20px 10px #8bc34a, 0 0 30px 20px #4caf50, 0 0 40px 30px #cddc39;
      opacity: 0;
      transition: all 0.5s ease-out;
    }

    button.toggle-form:active {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    }
</style>

<style>
    .allinone{
    
        background-color:#6c6f93 ;
        padding-left: 30px;
        padding-right: 30px;
        border: 2px;
    }
    .allinone2{
    
            margin-top: 10px;
        background-color: #44475a ;
        border: 2px;
    }


    form {
      max-width: 600px;
      margin: 0 auto;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 20px;
      font-size: 16px;
    }
    
    input[type="file"] {
      margin-bottom: 20px;
    }
    
    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    
    button[type="submit"]:hover {
      background-color: #3e8e41;
    }
    
    #error-message {
      color: red;
      margin-bottom: 10px;
    }
    
    #phone-container {
      display: flex;
      align-items: stretch;
    }
    
    #phone-container label {
      margin-right: 10px;
    }
    
    #country-code {
      font-size: 16px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f2f2f2;
      text-align: center;
      max-width: 10px;
      height: 48px;
    }
    
    #phonecode {
      width: 75px;
      font-size: 16px;
      padding: 10px;
      border: 1px solid #ccc;
      border-right: none;
      border-radius: 4px 0 0 4px;
      background-color: #f2f2f2;
      text-align: center;
    }
    
    #phonenumber {
      flex-grow: 1;
      font-size: 16px;
      padding: 10px;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 0 4px 4px 0;
    }
    
    input[type="checkbox"] {
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      border: none;
      border-radius: 10px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
      animation: greenbook-glow 1.4s ease-in-out alternate infinite;
    }
    
    @keyframes greenbook-glow {
      0% {
        box-shadow: 0 0 0 0 rgba(80, 250, 123, 1);
      }
      50% {
        box-shadow: 0 0 0 6px rgba(80, 250, 123, 0.5);
      }
      75% {
        box-shadow: 0 0 0 3px rgba(80, 250, 123, 0.2);
      }
      100% {
        box-shadow: 0 0 0 0 rgba(80, 250, 123, 0);
      }
    }
    input[type="checkbox"]:checked {
      animation: none;
    }
    
    
</style>

<style>
    .tag-list {
      background-color: #6c6f93;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin: 20px 0;
      overflow: hidden;
    }
  
    .tag-list h3 { 
      color: #BD93F9;
      font-size: 2.5rem;
      font-weight: 900;
      margin: 0;
      padding: 10px;
      text-align: center;
      text-shadow: 1px 1px #000;
      text-transform: uppercase;
    }
  
    .tag-list ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  
    .tag-list li {
      display: inline-block;
      margin: 10px;
    }
  
    .tag-list .tag {
      background-color: #50fa7b;
      border: 4px solid #BD93F9;
      border-radius: 20px;
      color: #000;
      display: inline-block;
      font-size: 1.5rem;
      padding: 5px 20px;
      text-decoration: blink;
      text-shadow: 1px 1px 0 #eee8d5;
      transition: background-color 0.5s ease;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
    }
  
  .tag-list .tag:hover {
    background-color: #5e48e7;
    color: white;
    text-shadow: none;
    font-size: 2rem;
    font-weight: 900;
  }
</style>

<style>
    .smile {
      position: absolute;
      transform: translate(-50%, -50%);
      width: 245px;
      height: 185px;
      border-radius: 100%;
      border: 4px solid #000;
      border-color: #000 transparent transparent;
      animation: smile 3s ease-in-out infinite;
      pointer-events: none;
      bottom: 20px;
  
    }
  
  @keyframes smile {
    0% {
      transform: rotate(169deg);
    }
  
    50% {
      transform: rotate(189deg);
    }
   100% {
      transform: rotate(169deg);
    }
  }
    .tag-list-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      padding-bottom: 50px;
    }
  
</style>
<style>

  .left-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 100%;
    background-color: #434659;
    Color: white;
    max-width: 33300px;
    margin: 0 auto;
    border: 2px solid black;
    border-color : black;
    border-radius : 20px;
  }
  .right-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 100%;
    background-color: #434659;
    Color: white;
    max-width: 33300px;
    margin: 0 auto;
    border: 2px solid black;
    border-color : black;
    border-radius : 20px;
  }
  @media (max-width: 1700px) {
    .left-content {
      display: none;
    }
      .right-content {
      display: none;
    }
  }
  
  
  @media (min-width: 1700px) and (max-width: 1800px) {
    .left-content {
      width:  245px;  
      }.right-content {
      width:  245px;
    
  }
  }
  @media (min-width: 1800px) and (max-width: 1900px) {
    .left-content {
      width: 285px;
    }
      .right-content {
      width:  285px;
    }
  }
  @media (min-width: 1900px) and (max-width: 2000px) {
    .left-content {
      width: 335px;
    }
      .right-content {
      width:  335px;
    }
  }
  @media (min-width: 2000px) and (max-width: 2100px) {
    .left-content {
      width: 375px;
    }
      .right-content {
      width:  375px;
    }
  }
  @media (min-width: 2100px) and (max-width: 2200px) {
    .left-content {
      width: 415px;
    }
      .right-content {
      width:  415px;
    }
        .allinone2{
        width: none;
    }
  }
  @media (min-width: 2200px) and (max-width: 2300px) {
    .left-content {
      width: 455px;
    }
      .right-content {
      width:  455px;
    }
  }
  
  @media (min-width: 2300px) and (max-width: 2400px) {
    .left-content {
      width: 495px;
    }
      .right-content {
      width:  495px;
    }
    
        .allinone2{
        padding-right:200px;
    }
  }
  @media (min-width: 2400px) and (max-width: 2500px) {
    .left-content {
      width: 525px;
    }
    
      .right-content {
      width:  525px;
    }
        .allinone2{
        padding-right:250px;
    }
  }
  
  @media (min-width: 2500px) and (max-width: 4000px) {
    .left-content {
      width: 565px;
    }
      .right-content {
      width:  565px;
    }
  
    .allinone2{
        padding-right:320px;
    }
}
  @media (max-width: 768px) {
            .gh-head-inner {
                flex-direction: column;
                align-items: flex-start;
            }

            

            .gh-head-actions {
                margin-top: 0;
            }


            .toggle-form, .yellow-fire-flame-button {
                margin: 10px 0;
            }

            .search-container {
                width: 50%;
            }
            .gh-head-menu {
            display: flex;
            align-items: center;
            list-style: none;
            padding-right: 0px;
        }

        }
        @media (max-width: 450px) {
            .gh-head-inner {
                flex-direction: column;
                align-items: flex-start;
            }


            .gh-head-actions {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
            }

            .toggle-form, .yellow-fire-flame-button {
                margin: 10px 0;
            }

            .search-container {
                width: 30%;
                margin-top: 20px;
            }
                        .gh-head-menu {
            display: flex;
            align-items: center;
            list-style: none;
            padding-right: 0px;
        }
        }
</style>
  <style>
        .gh-head {
            background-color: #6c6f93;
        }

        .gh-head-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
        }

        .gh-head-menu {
            display: flex;
            align-items: center;
            list-style: none;
            padding-right: 250px;
        }

        .gh-head-menu a {
            text-decoration: none;
            color: #333;
            font-size: 18px;
            margin: 0 20px;
        }

        .gh-head-actions {
            display: flex;
            align-items: center;
        }



        .toggle-form:hover {
            background-color: #cddc39;
            box-shadow: 0px 8px 25px rgba(139, 195, 74, 0.8);
        }

        .toggle-form:active {
            background-color: red;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
        }

        .toggle-form::before {
            content: "";
            position: absolute;
            top: -20px;
            left: -20px;
            width: 0;
            height: 0;
            border-radius: 50%;
            box-shadow: 0 0 20px 10px #8bc34a, 0 0 30px 20px #4caf50, 0 0 40px 30px #cddc39;
            opacity: 0;
            transition: all 0.5s ease-out;
        }

        .toggle-form:hover::before {
            width: 200%;
            height: 200%;
            opacity: 1;
        }

        .yellow-fire-flame-button {
            position: relative;
            margin-left: 20px;
        }

        .yellow-fire-flame-button:hover {
            background-color: #FFA000;
            box-shadow: 0 20px 50px rgba(255, 160, 0, 0.8);
        }

        .yellow-fire-flame-button::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-radius: 50%;
            box-shadow: 0 0 5px 5px #FFC107, 0 0 10px 10px #FFA000, 0 0 15px 15px #FFC107;
            opacity: 0;
            transition: all 0.5s ease-out;
        }

        .yellow-fire-flame-button:hover::before {
            width: 200%;
            height: 200%;
            opacity: 1;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .search-container {
            position: relative;
            max-width: 400px;
        }

        .search-container input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>