---
import Header from './Header.astro';
import Footer from './Footer.astro';

const postImportResult = import.meta.glob('../pages/posts/*.md', { eager: true });
const posts = Object.values(postImportResult).map((post) => post.frontmatter);

posts.sort((a, b) => new Date(b.date) - new Date(a.date));
const postsPerPage = 9;
let currentPage = 1;
let currentPosts = [...posts]; // Copy all posts initially
const totalPages = Math.ceil(posts.length / postsPerPage);

function loadPosts(page) {
  const start = (page - 1) * postsPerPage;
  const end = start + postsPerPage;
  return currentPosts.slice(start, end);
}

function changePage(page) {
  if (page > 0 && page <= totalPages) {
    currentPage = page;
  }
}

---

<Header />
<div class="container">

  <div id="grid-container" class="grid-container">
    {loadPosts(currentPage).map(post => (
      <div class="grid-item">
        <div class="image-container">
          <img src={post.img} alt={post.title} />
        </div>
        <h3 class="title">{post.title}</h3>
        <p class="description">{post.description}</p>
        <a href={post.link} class="read-more">READ MORE</a>
      </div>
    ))}
  </div>


  <div class="pagination" id="pagination">
    <a href="#" onClick={(e) => { e.preventDefault(); changePage(currentPage - 1); }} class={currentPage === 1 ? 'disabled' : ''}>«</a>
    {[...Array(totalPages)].map((_, index) => {
      const page = index + 1;
      return (
        <a href="#" onClick={(e) => { e.preventDefault(); changePage(page); }} class={currentPage === page ? 'active' : ''}>{page}</a>
      );
    })}
    <a href="#" onClick={(e) => { e.preventDefault(); changePage(currentPage + 1); }} class={currentPage === totalPages ? 'disabled' : ''}>»</a>
  </div>
</div>
<Footer />




<style>
  body {
    font-family: 'Lato', sans-serif;
    background-color: #2C2F33;
    margin: 0;
    padding: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .grid-item {
    background-color: #23272A;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
  }

  .grid-item:hover {
    transform: translateY(-10px);
  }

  .image-container {
    width: 100%;
    height: 150px;
    background-color: #444;
    overflow: hidden;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title {
    font-size: 1.4em;
    margin: 15px;
    color: #FFCC00;
  }

  .description {
    font-size: 1em;
    margin: 0 15px 15px 15px;
    flex-grow: 1;
    color: #E6E6E6;
  }

  .read-more {
    display: block;
    padding: 15px;
    background-color: #7289DA;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
  }

  .read-more:hover {
    background-color: #5B6EAE;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .pagination a {
    color: #FFF;
    background-color: #7289DA;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .pagination a:hover {
    background-color: #5B6EAE;
  }

  .pagination a.active {
    background-color: #5B6EAE;
  }

  .pagination a.disabled {
    background-color: #444;
    cursor: not-allowed;
  }

  @media (max-width: 900px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
</style>